.panel-form {
  margin-top: 32px;
}

.panel-form .container .title {
  font-size: 32px;
  color: #EF7247;
  text-align: center;
  text-transform: uppercase;
}

.button-place {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .panel-form .container .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
