.header {
  background: url('../img/destaque.jpeg') no-repeat;
  background-size: cover;
  padding-top: 32px;
}

.header .main-menu {
  text-align: center;
}

.header .main-menu li {
  display: inline-block;
  margin-bottom: 32px;
}

.header .main-menu li:first-child {
  margin-right: 5px;
}

.header .main-menu .menu-item a {
  color: white;
  padding: 16px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color .3s;
}

.header .main-menu .menu-item a:hover {
  background-color: #48A3A6;
}

.header .jumbotron {
  padding-bottom: 44px;
  text-align: center;
  text-transform: uppercase;
}

.header .jumbotron .panel-subscribe {
  margin-top: 28px;
}


.header .panel-main {
  color: white;
  text-shadow: 4px 4px 10px black;
}

.header .panel-main .title {
  font-size: 3em;
}

.header .panel-main .subtitle {
  color: #64ff64;
  font-size: 2.6em;
  margin-top: 8px;
}

@media screen and (min-width:	1200px) {
  .header .jumbotron {
    font-size: 28px;
  }
}
