.panel-speakers {
  padding-top: 40px;
  background: #EF7247;
  text-align: center;
}

.panel-speakers .about-speakers {
  text-align: center;
}

.panel-speakers .title {
  color: white;
  font-size: 40px;
  margin-bottom: 16px;
  text-transform: uppercase;
}

.panel-speakers .subtitle {
  color: white;
  font-size: 28px;
  margin-bottom: 16px;
}

.panel-speakers .speakers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.panel-speakers .speaker {
  width: 250px;
  background-color: white;
  margin-bottom: 32px;
  padding: 18px;
  border-radius: 10px;
}

.panel-speakers .speaker-image {
  border-radius: 50%;
  height: 120px;
  width: 120px;
}

.panel-speakers .speaker-name {
  padding-top: 10px;
}

.panel-speakers .speaker-bio {
  font-weight: bold;
  margin-top: 16px;
}

.panel-speakers .speaker-speach {
  margin-top: 16px;
  padding-top: 8px;
  font-size: 16px;
}

@media screen and (min-width: 1200px) {
  .panel-speakers .subtitle {
    font-size: 32px;
  }
}