.button {
  display: inline-block;
  padding: 25px 50px;
  margin: 5px;
  background-color: #48A3A6;
  border-radius: 8px;
  box-shadow: 1px 1px 5px black;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: white;
  transition: filter .3s;
  border: none;
  cursor: pointer;

  &:hover {
    filter: brightness(0.9);
  }
}