.hero {
  background: url('../img/destaque.jpeg') no-repeat;
  background-size: cover;
  padding-top: 32px;
  height: 100vh;

  .main-menu {
    text-align: center;

    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 50px;

      li {
        a {
          color: white;
          padding: 16px 8px 6px 8px;
          text-decoration: none;
          text-transform: uppercase;
          font-weight: bold;
          transition: border-bottom 150ms;
          border-bottom-color: #44bd32;
          text-shadow: 2px 2px 4px rgba(0, 0, 0, .7);


          &:hover {
            border-bottom: 3px solid #44bd32;
          }
        }
      }
    }
  }

  .header-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;

    .jumbotron {
      padding-bottom: 44px;
      text-align: center;
      text-transform: uppercase;

      .panel-main {
        color: white;
        text-shadow: 4px 4px 10px black;

        h1 {
          font-size: 3em;
        }

        h2 {
          color: #64ff64;
          font-size: 2.6em;
          margin-top: 8px;
        }

        @media screen and (min-width:	1200px) {
          font-size: 28px;
        }
      }

      .panel-subscribe {
        margin-top: 28px;
      }
    }
  }
}

